.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.header {
    height: 60px;
}

.content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.footer {
    height: 60px;
}
